<% provide(:title, "Strong Password Generator") %>

<div class="center jumbotron text-center">
  <h1>Good Passwords Are Simply Strong and Easy to Remember</h1>
  <p>This Password Is Kinda Strong but Not Easy to Remember</p>
  <h2><%= @weakpassword %></h2>
  <p>Password strength = <%= @weakpassword_strength %></p>
  <hr>
  <p>Your New Password Is Both Strong and Memorable...</p>
  <h2><%= @strongpassword %></h2>
  <p>Password strength = <%= @strongpassword_strength %></p>
  <hr>
  <%= form_tag(root_path, method: 'put') do %>
    <%= check_box_tag(:random_capital) %>
    <%= label_tag(:random_capital, "Capitalize a random letter") %>
    <%= submit_tag("Generate a new password") %>
  <% end %>
  <p><%= @randomness %></p>
</div>
