<% provide(:title, "Strong Password Generator") %>

<div class="center jumbotron text-center">
  <h1>Good Passwords Are Simply Strong and Easy to Remember</h1>
  <p>This Password Is Kinda Strong but Not Easy to Remember</p>
  <h2><%= @weakpassword %></h2>
  <p>Password strength = <%= @weakpassword_strength %></p>
  <hr>
  <p>Your New Password Is Both Strong and Memorable...</p>
  <h2><%= @strongpassword %></h2>
  <p>Password strength = <%= @strongpassword_strength %></p>
  <hr>
  <%= form_tag(root_path, method: 'get') do %>
    <div>
      <div>
        <%= check_box_tag(:random_capital) %>
        <%= label_tag(:random_capital, "Capitalize a Random Word") %>
      </div>
      <div>
        <%= check_box_tag(:random_number) %>
        <%= label_tag(:random_number, "Throw in a Random Number") %>
      </div>
      <div>
        <%= select_tag :punctuation, "
         <option value=' ' selected>Space</option>
         <option value='.'>Period</option>
         <option value='`'>Backtick</option>
         <option value='~'>Tilde</option>
         <option value='!'>Exclamation</option>
         <option value='@'>At sign</option>
         <option value='#'>Number sign</option>
         <option value='$'>Dollar sign</option>
         <option value='%'>Percent</option>
         <option value='^'>Caret</option>
         <option value='&'>Ampersand</option>
         <option value='-'>Minus</option>
         <option value='_'>Underscore</option>
         <option value='='>Equal sign</option>
         <option value='+'>Plus</option>
         <option value='['>Left bracket</option>
         <option value='{'>Left brace</option>
         <option value=']'>Right bracket</option>
         <option value='}'>Right brace</option>
         ".html_safe
       %>
      <%= label_tag(:punctuation, "Change Punctuation") %>
      </div>
    </div>
    <div style="margin-top: 10px"><%= submit_tag("Generate a new password") %></div>
  <% end %>
</div>
<div class="center text-center">
  <%= @counter.count %> Passwords Served<br>
  Since December 14, 2014<br>
  v1.0
</div>
