<% provide(:title, "Strong Password Generator") %>

<div class="center jumbotron text-center">
  <h1>Good Passwords Are Simply Strong and Easy to Remember</h1>
  <p>This Password Is Kinda Strong but Not Easy to Remember</p>
  <h2><%= @weakpassword %></h2>
  <p>Password strength = <%= @weakpassword_strength %></p>
  <hr>
  <p>Your New Password Is Both Strong and Memorable...</p>
  <h2><%= @strongpassword %></h2>
  <p>Password strength = <%= @strongpassword_strength %></p>
  <hr>
  <%= form_tag(root_path, method: 'get') do %>
    <div>
      <div>
        <%= check_box_tag(:random_capital) %>
        <%= label_tag(:random_capital, "Capitalize a Random Letter") %>
      </div>
      <div>
        <%= select_tag :punctuation, "
         <option value=' ' selected> (space)</option>
         <option value='.'>. (period)</option>
         <option value='`'>` (backtick)</option>
         <option value='~'>~ (tilde)</option>
         <option value='!'>! (exclamation)</option>
         <option value='@'>@ (at sign)</option>
         <option value='#'># (number sign)</option>
         <option value='$'>$ (dollar sign)</option>
         <option value='%'>% (percent)</option>
         <option value='^'>^ (caret)</option>
         <option value='&'>& (ampersand)</option>
         <option value='-'>- (minus)</option>
         <option value='_'>_ (underscore)</option>
         <option value='='>= (equal sign)</option>
         <option value='+'>+ (plus)</option>
         <option value='['>[ (left bracket)</option>
         <option value='{'>{ (left brace)</option>
         <option value=']'>] (right bracket)</option>
         <option value='}'>} (right brace)</option>
         ".html_safe
       %>
      <%= label_tag(:punctuation, "Change Punctuation") %>
      </div>
    </div>
    <div style="margin-top: 10px"><%= submit_tag("Generate a new password") %></div>
  <% end %>
</div>
